@font-face {
  font-family: "FtMonopol";
  src: url("./fonts/FtMonopol-2.08-VF.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "FtMonopol";
  src: url("./fonts/FtMonopol-2.08-VF.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "FtMonopol";
  src: url("./fonts/FtMonopol-2.08-VF.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "FtMonopol";
  src: url("./fonts/FtMonopol-2.08-VF.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "FtMonopol";
  src: url("./fonts/FtMonopol-2.08-VF.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "FtMonopol";
  src: url("./fonts/FtMonopol-2.08-VF.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "FtMonopol";
  src: url("./fonts/FtMonopol-2.08-VF.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "FtMonopol";
  src: url("./fonts/FtMonopol-2.08-VF.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "FtMonopol";
  src: url("./fonts/FtMonopol-2.08-VF.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "FtMonopol";
  src: url("./fonts/FtMonopol-2.08-VF.ttf");
  font-weight: 1000;
}

body {
  margin: 0;
  color: #050038;
  font-family: "FtMonopol", Arial, Helvetica, sans-serif;
  border-top: 1px solid #eceefc;
  /* background: red; */
  user-select: none;
}

#myForm {
  padding: 2em 0;
}
.closing-in-wrap {
  text-align: center;
  height: 1.3em;

  position: relative;
  top: -0.7em;
  font-size: 0.85em;
  /* color: #3f53d8; */
  font-weight: 600;
  transition: 200ms ease opacity;
  opacity: 0;
}
.closing-in {
  width: 0.9em;
  display: inline-block;
}
.paste-now {
  text-align: center;
  font-size: 1.3em;
  color: #3f53d8;
  font-weight: 700;
}

.canvas-wrap {
  width: 11em;
  margin: 0 auto;
  height: 11em;
  position: relative;
  border: 1px solid #99d1ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  padding-bottom: 3em;
}
#default-icon {
  background-image: url("./images/default.png");
  background-size: 70% auto;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.5; */
  position: absolute;
  margin-left: 2%;
  margin-top: 2%;
  display: none;
}
.is-blank #default-icon {
  display: block;
}
#folderName {
  position: absolute;
  bottom: 1em;
  font-weight: 500;
  /* color: black; */
  width: 100%;
  left: 0;
  text-align: center;
  display: block;
}
.instructions {
  margin-top: 2em;
  text-align: center;
  font-weight: 500;
  font-size: 0.85em;
}
canvas#my_canvas {
  transition: all 300ms ease;
  max-width: 100%;
  height: auto;
  max-height: 11em;
  position: relative;
}
.is-loading canvas#my_canvas {
  opacity: 0.2;
  transition: none;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.spinner-wrap {
  will-change: opacity transform;
  transition: all 300ms ease;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: scale(0.7);
  transform-origin: 0 0;
  pointer-events: none;
}
.is-loading .spinner-wrap {
  opacity: 1;
  transform: scale(1);
}
.loading-spinner {
  margin-top: -0.5em;
  margin-left: -0.5em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  font-size: 4em;
  display: inline-block;
  border: 4px #3f53d8 solid;
  box-sizing: border-box;
  border-right-color: transparent;
  animation: rotating 1s linear infinite;
}

.is-dragging .dashed-wrap {
  opacity: 1;
}


.dashed-wrap {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.7em;
  box-sizing: border-box;
  background-color: rgb(63, 83, 216, 0.1);
  z-index: 999;
  opacity: 0;
  will-change: opacity;
  pointer-events: none;
  transition: 200ms ease opacity;
}
svg#dashed {
  fill: transparent;
  stroke: #3f53d8;
  width: 100%;
  height: 100%;
  position: relative;
  /* -webkit-filter: blur(1.5em);
  filter: blur(1.5em); */
  pointer-events: none;
  box-sizing: border-box;
  paint-order: stroke;
}

svg#dashed rect {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* transition: all 180ms ease-out; */
  stroke-linecap: round;
  /* stroke-linejoin: round; */
  /* stroke-width: 0.3em;
  stroke-dasharray: 1.6em 2em; */
  stroke-width: 1.5%;
  stroke-dasharray: 4% 6%;
  stroke-dashoffset: 2.3%;

  /* animation: dash 12s linear forwards infinite; */
}
